<div class="col-md-3">
</div>
<div class="col-md-6 about">
	<div>
		<p class="title">O name</p>
		<p>Lorem ipsum dolor sit amet, case graecis reprimique te vis. Eam verear appellantur referrentur eu, enim velit temporibus est no. Et usu omnis facilis albucius. Ne pri scaevola forensibus abhorreant. Vel no assum iuvaret, tale mundi vitae et eam, ei unum sonet quo. At eos noluisse mnesarchum liberavisse. Legimus partiendo quo no, aliquam argumentum ex cum, quo fierent prodesset pertinacia id.

		Ceteros invidunt ad cum. Ne pri amet delectus praesent, no viris graecis apeirian cum, quo enim labores appareat et. Nobis meliore menandri eu est. Laoreet dolorem similique quo ei.

		At nihil abhorreant eam, ad has elitr incorrupte reformidans. Ex his affert delenit forensibus, tantas tacimates sit no, ea est consul interpretaris. Viderer phaedrum cu eum, ut accusam reprehendunt vel, ea pro congue fabulas rationibus. Ad dolores insolens iracundia vis.

		Facer consulatu contentiones at sit, cum elit solet melius ad. Iudico laudem ocurreret te mei. Vix dicit zril mnesarchum no, est ea quando forensibus mnesarchum, cu vel denique quaerendum. Ne has zril perpetua elaboraret, solum dolorum explicari ei vis, no qui admodum eligendi adversarium.</p>
	</div>
	<div style="margin-top: 30px;">
		<div class="col-md-4">
			<p class="title">Adresa<p>
			<p>Staparski put</p>
			<p>25000 Sombor</p>
			<p>+381********</p>
		</div>
		<div class="col-md-6" id="contact">
			<p class="title">Kontakt</p>
			<form name="form" (ngSubmit)="f.form.valid && sendEmail()" #f="ngForm" novalidate>
				<input type="text" class="form-control" name="subject" placeholder="Naslov" id="subject"
				 [(ngModel)]="email.subject" #subject="ngModel" [ngClass]="{ 'input-has-error': !subject.valid && !subject.pristine }" required/>

				<div *ngIf="userEmail == undefined">
				 	<input type="text" class="form-control" name="email" placeholder="Email" id="email"
					 [(ngModel)]="email.from" #email="ngModel" [ngClass]="{ 'input-has-error': !email.valid && !email.pristine }" required/>
				</div>

				<textarea id="message" class="form-control" name="content" placeholder="Poruka" id="message"
				 [(ngModel)]="email.content" #content="ngModel" [ngClass]="{ 'input-has-error': !content.valid && !content.pristine }" required></textarea>

		 		<button class="btn btn-send" [disabled]="!f.valid">Pošalji</button>
			</form>
		</div>
	</div>
</div>