<div class="col-md-4"></div>
<div class="col-md-6" id="logDiv">
	<div class="out-loging">
		<button class="btn btn-gLogin" (click)="doGoogleLogin()">Uloguj se pomocu Google</button>
	</div>
	<form name="form" (ngSubmit)="f.form.valid && logInWithEmail()" #f="ngForm" novalidate>
		<input type="email" class="form-control" name="email" [(ngModel)]="login.email"
		 #email="ngModel" placeholder="Email" 
		 [ngClass]="{ 'input-has-error': !email.valid && !email.pristine }" required="">

		<input type="password" class="form-control" name="password" [(ngModel)]="login.password"
		 #password="ngModel" placeholder="Lozinka" 
		 [ngClass]="{ 'input-has-error': !password.valid && !password.pristine }" required>

		<div class="form-group error-box" *ngIf= "error != undefined || error != null">
			{{error}} 
		</div>
		<button class="btn btn-login" [disabled]="!f.valid">Prijavi se</button>
	</form>
</div>
