#logDiv{
	margin-top: 150px;
	margin-left: 540px;
	margin-bottom: 230px;
}

#footer {
    height: 50px;
    margin-top: -20px;
    text-align: center;
    border-top: 1px solid #C5B358 ;
    padding-top: 15px;
    color: #C5B358;
}

#section {
	min-height: 450px;
	display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.form-control{
	width: 250px;
    margin-bottom: 20px;
}

.btn-login {
	background: #C5B358;
	color: white;
  	position: relative;
	bottom: 10px;
	font-size: 16px;
  	width: 250px;
  	margin-top: 50px;

	-moz-box-shadow: 1px 1px 2px #EEE8AA;
	-webkit-box-shadow: 1px 1px 2px #EEE8AA;
	box-shadow: 1px 1px 2px #EEE8AA;
}

.btn-login:hover{
	background: #FAFAD2;
	color: #996515;
}

/*.out-loging{
	margin-bottom: 20px;
    width: 300px;
    border-bottom: 1px solid #C5B358;
    margin-left: -23px;
}

.out-loging button{
	margin-left: 23px;
}*/

.header{
	background: #bf7f89;
    height: 35px;
    padding-top: 5px;
}

.header div{
	display: inline;
}

#logOut a{
	color: white;
	float: right;
	margin-right: 20px;
	font-size: 16px;
}

.hdr-items{
    margin-left: 20px;
    font-size: 16px;
}

.hdr-items a{
	margin-right: 15px;
	color: white;
}

.selected-tab{
	background: white;
    padding: 11px;
    color: #bf7f89 !important;
}

#slimLoad{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}