#footer {
    height: 50px;
    margin-top: -20px;
    text-align: center;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    color: dimgray;
}

/*header {
	background-image: url('../../../src/image/coverNolog.png');
	height: 185px;
    margin-top: -10px;
}*/

.menuDiv{
    display: inline-flex;
    margin-top: 10px;
}

.menuItems{
    margin-right: 15px;
}

.menuItems a{
    color: dimgray;
}

#header1{
    height: 30px;
}

#header2{
    border-bottom: 1px solid darkgray;
    border-top: 1px solid lightgray;
    height: 180px;
    background-color: #f4f4f4;
}

#upperHead{
    display: inline-flex;
    position: absolute;
    right: 5px;
    top: 5px;
}

#socialLog{
    height: 20px;
    width: 50px;
    display: inline-flex;
    margin-left: 10px;
    margin-top: 5px;
}

#socialLog a{
    margin-right: 5px;
}
.logo{
    width: 150px;
    position: absolute;
    left: 45%;
    top: 40px;
}

.active{
    color: #914853 !important;
    font-size: 16px;
}

#section {
	min-height: 450px;
	display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

#header, #section, #footer {
}

.nav-tabs{
	padding-top: 70px;
	/*border-bottom: 1px solid #996515;*/
    background: /* gradient can be an image */ linear-gradient( to right, rgba(153,101,21,1) 100px, rgba(1,1,1,0) 360px, rgba(153,101,21,1) 100% ) left bottom no-repeat;
    background-size: 100% 1px;
    border: none !important;
}

#firstTab {
	margin-left: 100px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		border: 1px solid #996515 !important;
		color: white !important;
	    cursor: default !important;
	    background-color: #C5B358 !important;
}

li a {
	color: #996515 !important;
}

.nav-tabs>li>a:hover {
    border-color: #FAFAD2;
    background-color: #FAFAD2;
    border-bottom: 1px solid #996515;
}

#rightHeader{
	float: right;
	display: inline-flex;
}

#rightHeader li{
	margin-top: 9px;
    font-size: 16px;
    cursor: pointer;
}

#login{
	margin-right: 10px;
}

#logout{
    cursor: pointer;
}

#register{
	margin-right: 120px;
}

#cart{
    width: 25px;
    cursor: pointer;
}

#separator{
	color: #996515 !important;
    margin-right: 10px;
}

#upButton{
	width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    border: 1px solid #996515;
    border-radius: 5px;
    color: #996515;
    right: 30px;
    text-align: center;
    cursor: pointer;
    padding-top: 9px;
    display: none;
}

#upButton:hover{
	background: #996515;
	color: white;
}

#slimLoad{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}