<div id="cart" >
	<div class="cart-inner-menu">
		<span class="glyphicon glyphicon-triangle-right" *ngIf="!showItems"></span>
		<span class="glyphicon glyphicon-triangle-bottom" *ngIf="showItems"></span>
		<h2 (click)="showItems = !showItems">Vasa korpa</h2>
	</div>
	<div *ngIf="showItems">
		<div *ngIf="itemsInCart.length == 0" id="emptyCartTxt">- Još ništa niste dodali -</div>
		<button class="btn btn-buyAll" *ngIf="itemsInCart.length != 0" (click)="buyClicked = true">
			K U P I
		</button>
		<div *ngFor="let item of itemsInCart" id="contentDiv">
			<div id="contentDivInner">
				<div id="imgDiv">
					<img src="{{item.photo}}" class="img-responsive" />
				</div>
				<div id="infoDiv">
					<p>Naziv: {{item.title}}</p>
					<p>Opis: {{item.description}}</p>
					<p>Kolicina: {{item.quantity}}</p>
					<p>Cena: {{item.price}} RSD</p>
				</div>
			</div>
			<div id="btnDiv">
				<button class="btn btn-cancel" (click)="removeItem(item.itemCartKey)">ODBACI</button>
			</div>
		</div>
		<button class="btn btn-buyAll" *ngIf="itemsInCart.length != 0" (click)="buyClicked = true">
			K U P I
		</button>
	</div>
	<div class="cart-inner-menu">
		<span class="glyphicon glyphicon-triangle-right" *ngIf="!showLikes"></span>
		<span class="glyphicon glyphicon-triangle-bottom" *ngIf="showLikes"></span>
		<h2 (click)="showLikes = !showLikes">Vasa svidjanja</h2>
	</div>
	<div *ngIf="showLikes">
		<div *ngIf="likedItemsCart.length == 0" id="emptyCartTxt">- Još vam se ništa ne svidja -</div>
		<div *ngFor="let item of likedItemsCart" id="contentDiv">
			<div id="contentDivInner">
				<div id="imgDiv">
					<img src="{{item.photo}}" class="img-responsive" />
				</div>
				<div id="infoDiv">
					<p>Naziv: {{item.title}}</p>
					<p>Opis: {{item.description}}</p>
					<p>Kolicina: <input type="number" name="quantity" class="form-control quantity-input" 
					    		[(ngModel)]="quantityToBuy" min="1"	max="{{item.quantity}}" 
					    		(input)="onQChange($event.target.value, item.quantity)"
					    		[ngClass]="{ 'input-has-error': quantityProblem}" required></p>
					<p>Cena: {{item.price}} RSD</p>
				</div>
			</div>
			<div id="btnDiv2">
				<button class="btn btn-cancel" (click)="removeLike(item.itemLikedKey)">ODBACI</button>
				<button class="btn btn-add" [disabled]="quantityProblem">U KORPU</button>
				<button class="btn btn-buy" >KUPI</button>
			</div>
		</div>
	</div>
</div>

