#imgDiv{
	width: 300px;
	height: 300px;
}

#contentDiv{
    width: 60%;
    border: 1px solid #C5B358;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px;

    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0.5px 1px 5px #b76e79;
	-webkit-box-shadow: 0.5px 1px 5px #b76e79;
	box-shadow: 1px 1px 5px #b76e79;
	-webkit-appearance: none;
}

#contentDivInner{
	display: flex;
}

#cart{
	margin-top: 40px;
    margin-left: 100px;
}

#infoDiv{
	margin-left: 30px;
	width: 40%;
}

#infoDiv p{
	font-size: 20px;
}

.btn-buy, .btn-add{
	background: #C5B358;
	color: white;
	position: relative;
	bottom: 10px;
	font-size: 16px;


	-moz-box-shadow: 1px 1px 2px #EEE8AA;
	-webkit-box-shadow: 1px 1px 2px #EEE8AA;
	box-shadow: 1px 1px 2px #EEE8AA;
}

.btn-buy {
	width: 100px;
}

.btn-add{
	width: 130px;
}

.btn-buy:hover, .btn-cancel:hover, .btn-add :hover{
	background: #FAFAD2;
  	color: #996515;
}

.btn-cancel{
	background: white;
    border: 1px solid #C5B358;
    color: #C5B358;
	position: relative;
	bottom: 10px;
	font-size: 16px;
	width: 100px;
}

#btnDiv{
	width: 40%;
    margin-left: 65%;
}

#btnDiv2{
	width: 40%;
    margin-left: 60%;
}

#btnDiv button{
	margin-left: 15px;
}

#btnDiv2 button{
	margin-left: 15px;
}

.cart-inner-menu{
	width: 50%;
	margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #914853;
}


.cart-inner-menu span{
	font-size: 20px;
    margin-right: 15px;
    color: #914853;
}


.cart-inner-menu h2{
	display: inline;
	color: #914853;
	cursor: pointer;
}

.quantity-input{
  width: 30% !important;
  display: inline !important;
}