 <header id="header" *ngIf="notAdmin" #viewSection>
    <ul class="nav nav-tabs">
    <li [ngClass]="status.one ? 'active' : ''" id="firstTab"  (click)="clickEvent('one')">
      <a [routerLink]="['/home']">Pocetna</a></li>
    <li [ngClass]="status.two ? 'active' : ''" (click)="clickEvent('two')">
      <a [routerLink]="['/info']" >Kontakt</a></li>
    <div id="rightHeader">
      <li id="login" (click)="clickEvent('')">
        <a [routerLink]="['/login']">Uloguj se</a></li>
      <li id="separator">|</li>
      <li id="register" (click)="clickEvent('')" >
        <a [routerLink]="['/register']">Registracija</a></li>
    </div>
  </ul>
  </header>
  <section id="section" #section>
    <router-outlet></router-outlet>
  </section>
  <footer id="footer"> 
   <div id="footerWrap">2018 </div>
 </footer>

 <div id="upButton" #upButton (click)="gotoSection()">
    <span class="glyphicon glyphicon-arrow-up"></span>
 </div>


