 <header id="header">
    <ul class="nav nav-tabs">
    <li [ngClass]="status.one ? 'active' : ''" id="firstTab"  (click)="clickEvent('one')">
      <a [routerLink]="['/home']">Pocetna</a></li>
    <li [ngClass]="status.two ? 'active' : ''" (click)="clickEvent('two')">
      <a [routerLink]="['/info']" >Kontakt</a></li>
    <div id="rightHeader">
      <li id="login" [routerLink]="['/login']"><a>Uloguj se</a></li>
      <li id="separator">|</li>
      <li id="register" [routerLink]="['/register']"><a>Registracija</a></li>
    </div>
  </ul>
  </header>
  <section id="section">
    <router-outlet></router-outlet>
  </section>
  <footer id="footer"> 
   <div id="footerWrap">2018 </div>
 </footer>


