<div id="cart" >
	<div class="cart-inner-menu">
		<span class="glyphicon glyphicon-triangle-right" *ngIf="!showItems"></span>
		<span class="glyphicon glyphicon-triangle-bottom" *ngIf="showItems"></span>
		<h2 (click)="showItems = !showItems">Vaša korpa</h2>
	</div>
	<div *ngIf="showItems">
		<div *ngIf="itemsInCart.length == 0" id="emptyCartTxt">- Još ništa niste dodali -</div>
		<button class="btn btn-buyAll" *ngIf="itemsInCart.length != 0" (click)="buyClicked = true">
			<b>K U P I</b>
		</button>
		<div *ngFor="let item of itemsInCart" id="contentDiv">
			<div id="contentDivInner">
				<div id="imgDiv">
					<img src="{{item.photo}}" class="img-responsive" />
				</div>
				<div id="infoDiv">
					<p>Naziv: {{item.title}}</p>
					<p>Opis: {{item.description}}</p>
					<p>Status: <span [ngStyle]="{'color':item?.activeProd == 'Y' ? '' : 'red'}">{{item?.inStock}}</span></p>
					<p>Kolicina: {{item.quantityInCart}}</p>
					<p>Cena: {{item.price}} RSD</p>
				</div>
			</div>
			<div id="btnDiv">
				<button class="btn btn-cancel" (click)="removeItem(item.cartid)">ODBACI</button>
			</div>
		</div>
		<button class="btn btn-buyAll" *ngIf="itemsInCart.length != 0" (click)="buyClicked = true">
			<b>K U P I</b>
		</button>
	</div>
	<div class="cart-inner-menu">
		<span class="glyphicon glyphicon-triangle-right" *ngIf="!showLikes"></span>
		<span class="glyphicon glyphicon-triangle-bottom" *ngIf="showLikes"></span>
		<h2 (click)="showLikes = !showLikes">Vaša svidjanja</h2>
	</div>
	<div *ngIf="showLikes">
		<div *ngIf="likedItemsCart.length == 0" id="emptyCartTxt">- Još vam se ništa ne svidja -</div>
		<div *ngFor="let item of likedItemsCart" id="contentDiv">
			<div id="contentDivInner">
				<div id="imgDiv">
					<img src="{{item.photo}}" class="img-responsive" />
				</div>
				<div id="infoDiv">
					<p>Naziv: {{item.title}}</p>
					<p>Opis: {{item.description}}</p>
					<p>Status: <span [ngStyle]="{'color':item?.activeProd == 'Y' ? '' : 'red'}">{{item?.inStock}}</span></p>
					<p *ngIf="item.activeProd == 'Y'">
						Kolicina: <input type="number" name="quantity" class="form-control quantity-input" 
					    		[(ngModel)]="quantityToBuy" min="1"	max="{{item.quantity}}" 
					    		(input)="onQChange($event.target.value, item.quantity)"
					    		[ngClass]="{ 'input-has-error': quantityProblem}" required></p>
					<p>Cena: {{item.price}} RSD</p>
				</div>
			</div>
			<div id="btnDiv2">
				<button class="btn btn-cancel" (click)="removeLike(item.likeid)">ODBACI</button>
				<button class="btn btn-add" [disabled]="quantityProblem || item?.activeProd == 'N'" 
				(click)="toCart(item)">U KORPU</button>
				<button class="btn btn-buy" [disabled]="quantityProblem || item?.activeProd == 'N'">
				KUPI</button>
			</div>
		</div>
	</div>
</div>

