#imgDiv{
	width: 250px;
	height: 250px;
}

#contentDiv{
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: white;

    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0.5px 1px 5px #ccc;
	-webkit-box-shadow: 0.5px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #ccc;
	-webkit-appearance: none;
}

#contentDivInner{
	display: flex;
}

#cart{
	margin-top: 40px;
    margin-left: 100px;
}

#infoDiv{
	margin-left: 30px;
	width: 40%;
}

#infoDiv p{
	font-size: 20px;
}

.btn-buy, .btn-add, .btn-buyAll{
	background: #a95461;
	color: white;
	position: relative;
	bottom: 10px;
	font-size: 16px;


	-moz-box-shadow: 1px 1px 2px #bd7b85;
	-webkit-box-shadow: 1px 1px 2px #bd7b85;
	box-shadow: 1px 1px 2px #bd7b85;
}

.btn-buyAll {
	margin-left: 65%;
    margin-top: -1%;
    width: 13%;
}

.btn-buy, .btn-add {
	width: 100px;
}

.btn-buy:hover, .btn-cancel:hover, .btn-add:hover, .btn-buyAll:hover{
	background: #8f4752;
  	color: white;
}

.btn-buy:hover{
	background: #bd7b85;
  	color: white;
}

.btn-cancel{
	background: white;
    border: 1px solid #8f4752;
    color: #8f4752;
	position: relative;
	bottom: 10px;
	font-size: 16px;
	width: 100px;
}

#btnDiv{
	width: 40%;
    margin-left: 80%;
}

#btnDiv2{
	width: 60%;
    margin-left: 50%;
}

#btnDiv button{
	margin-left: 15px;
}

#btnDiv2 button{
	margin-left: 10px;
}

.cart-inner-menu{
	width: 50%;
	margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #914853;
}


.cart-inner-menu span{
	font-size: 20px;
    margin-right: 15px;
    color: #914853;
}


.cart-inner-menu h2{
	display: inline;
	color: #914853;
	cursor: pointer;
}

.quantity-input{
  width: 30% !important;
  display: inline !important;
}

#emptyCartTxt {
	font-size: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.details-txt-t{
  font-size: 20px;
  color: #6e6e6e;
}

.details-txt-d{
  font-size: 16px;
  color: #6e6e6e;
}

.details-txt{
  font-size: 18px;
  color: #6e6e6e;
}

.addLine{
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
}