<div id="logOut"><a href="">Izloguj se</a></div>
<div class="upper-dash">
	<div class="col-md-6 list-displey">
		<div class="items-lists col-md-3">
			<div class="list-title">Kategorije:</div>
			<div *ngFor="let cat of categories" (click)="getSubCat(cat.id)">{{cat.cat}}</div>
		</div>
		<div class="items-lists col-md-3">
			<div class="list-title">Podkategorije:</div>
			<div *ngFor="let sub of subCat?.catgs">{{sub.subcat}}</div>
		</div>
	</div>
	<div class="col-md-6 form-part">
		<div class="col-md-6">
			<h4>Kategorija:</h4>
			<form>
				<input type="text" class="form-control" name="title" placeholder="Naziv">
				<input type="radio" name="isActive" checked="true"><p class="radiobtn">Da</p>
				<input type="radio" name="isActive"><p class="radiobtn">Ne</p>
				<button class="btn" id="form1">Sacuvaj</button>
			</form>
		</div>
		<div class="col-md-6">
			<h4>Podkategorija:</h4>
			<form>
				<input type="text" class="form-control" name="title" placeholder="Naziv">
				<input list="category" class="form-control" name="category" placeholder="Kategorija" required/>
						<datalist id="category" >
							<option value="dfk">Prva</option>
							<option value="kdfjd">Druga</option>
							<option value="dfdfsk">Treca</option>
						</datalist>
				<input type="radio" name="isActive" checked="true"><p class="radiobtn">Da</p>
				<input type="radio" name="isActive"><p class="radiobtn">Ne</p>
				<button class="btn" id="form2">Sacuvaj</button>
			</form>
		</div>
	</div>
</div>
<div class="lower-dash">
	<div class="col-md-6" style="margin-left: 30px;">
		<div class="prod-div" *ngFor="let prod of products">
			<div class="img-div">
				<img class="img-responsive" src="../../src/image/{{prod.image}}">
			</div>
			<div class="details-div">
				<div>Naziv: {{prod.title}}</div>
				<div>Opis: {{prod.desc}}</div>
				<div>Kolicina: {{prod.quantity}}</div>
				<div>Cena: {{prod.price}}</div>
			</div>
		</div>
	</div>
	<div class="col-md-1 separator"></div>
	<div class="col-md-4">
		<h4>Proizvod:</h4>
		<form>
			<input type="text" class="form-control" name="title" placeholder="Naziv">
			<input type="text" class="form-control" name="title" placeholder="Opis">
			<input type="text" class="form-control" name="title" placeholder="Kolicina">
			<input type="text" class="form-control" name="title" placeholder="Boja">
			<input type="text" class="form-control" name="title" placeholder="Cena">
			<input type="radio" name="isAvailable" checked="true"><p class="radiobtn">Da</p>
			<input type="radio" name="isAvailable"><p class="radiobtn">Ne</p>
			<button class="btn" id="form3">Sacuvaj</button>
		</form>
	</div>
</div>