<div id="logOut"><a href="">Izloguj se</a></div>
<div class="upper-dash">
	<div class="col-md-6 list-displey">
		<div class="items-lists col-md-3">
			<div class="list-title">Kategorije:</div>
			<div *ngFor="let cat of categories" (click)="getSubCat(cat.key); fillFormC(cat); 
				selectActiveC(cat.key)">
				<div [ngClass]="selectedC[cat.key] ? 'active' : ''" >{{cat.value.title}}</div>
			</div>
		</div>
		<div class="items-lists col-md-3">
			<div class="list-title">Podkategorije:</div>
			<div *ngFor="let sub of subCatgs" (click)="fillFormS(sub); selectActiveS(sub.key)">
				<div [ngClass]="selectedS[sub.key] ? 'active' : ''" >{{sub.value.title}}</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 form-part">
		<div class="col-md-6">
			<h4>Kategorija:</h4>
			<form name="form" (ngSubmit)="f1.form.valid && submitCatg(f1.value)" #f1="ngForm" novalidate>
				<input type="text" name="uidC" [(ngModel)]="category.uidC" #uidC="ngModel" [hidden]="true">
				<input type="text" class="form-control" name="title" placeholder="Naziv" 
				 [(ngModel)]="category.title" #title="ngModel"
		 		 [ngClass]="{ 'input-has-error': !title.valid && !title.pristine }" required>

				<input type="radio" name="isActive" value="true" [(ngModel)]="category.isActive" required/>
					<p class="radiobtn">Da</p>
				<input type="radio" name="isActive" value="false" [(ngModel)]="category.isActive" required/>
					<p class="radiobtn">Ne</p>
				<div id="form1">
					<button class="btn" [disabled]="!f1.valid">Sacuvaj</button>
					<button class="btn btn-clean" (click)="cleanCatgForm()">Obrisi</button>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<h4>Podkategorija:</h4>
			<form name="form" (ngSubmit)="f2.form.valid && submitSubctg(f2.value)" #f2="ngForm" novalidate>
				<input type="text" name="uidS" [(ngModel)]="subCatg.uidS" #uidS="ngModel" [hidden]="true">
				<input type="text" class="form-control" name="subtitle" placeholder="Naziv"
				 [(ngModel)]="subCatg.subtitle" #subtitle="ngModel"
		 		 [ngClass]="{ 'input-has-error': !subtitle.valid && !subtitle.pristine }" required>

				<input list="categoryList" class="form-control" name="categoryId" placeholder="Kategorija" 
				 [(ngModel)]="subCatg.categoryId" #categoryId="ngModel" #submitOption
		 		 [ngClass]="{ 'input-has-error': !categoryId.valid && !categoryId.pristine }" required/>
						<datalist id="categoryList" >
							<option value="{{cat.key}}" *ngFor="let cat of categories">
								{{cat.value.title}}
							</option>
						</datalist>
				<input type="radio" name="isActiveS" value="true" [(ngModel)]="subCatg.isActiveS" required>
					<p class="radiobtn">Da</p>
				<input type="radio" name="isActiveS" value="false" [(ngModel)]="subCatg.isActiveS" required>
					<p class="radiobtn">Ne</p>
				<div id="form2">
					<button class="btn" [disabled]="!f2.valid">Sacuvaj</button>
					<button class="btn btn-clean" (click)="cleanSubForm()">Obrisi</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="lower-dash">
	<div class="col-md-6" style="margin-left: 30px;">
		<div class="prod-div" *ngFor="let prod of products">
			<div class="img-div">
				<img class="img-responsive" src="../../src/image/{{prod.image}}">
			</div>
			<div class="details-div">
				<div>Naziv: {{prod.title}}</div>
				<div>Opis: {{prod.desc}}</div>
				<div>Kolicina: {{prod.quantity}}</div>
				<div>Cena: {{prod.price}}</div>
			</div>
		</div>
	</div>
	<div class="col-md-1 separator"></div>
	<div class="col-md-4">
		<h4>Proizvod:</h4>
		<form name="form" (ngSubmit)="f3.form.valid && submitProduct(f3.value)" #f3="ngForm" novalidate>
			<input type="text" name="uidP" [(ngModel)]="product.uidP" #uidP="ngModel" [hidden]="true">
			<input type="text" class="form-control" name="prodtitle" placeholder="Naziv"
			 [(ngModel)]="product.title" #prodtitle="ngModel"
		 	 [ngClass]="{ 'input-has-error': !prodtitle.valid && !prodtitle.pristine }" required/>

			<input type="text" class="form-control" name="description" placeholder="Opis"
			 [(ngModel)]="product.desc" #desc="ngModel"
		 	 [ngClass]="{ 'input-has-error': !desc.valid && !desc.pristine }" required/>

			<input type="text" class="form-control" name="quantity" placeholder="Kolicina"
			 [(ngModel)]="product.quantity" #quantity="ngModel"
		 	 [ngClass]="{ 'input-has-error': !quantity.valid && !quantity.pristine }" required/>

			<input type="text" class="form-control" name="color" placeholder="Boja"
			 [(ngModel)]="product.color" #color="ngModel"
		 	 [ngClass]="{ 'input-has-error': !color.valid && !color.pristine }" required/>

			<input type="text" class="form-control" name="price" placeholder="Cena"
			 [(ngModel)]="product.price" #price="ngModel"
		 	 [ngClass]="{ 'input-has-error': !price.valid && !price.pristine }" required/>

			<input type="radio" name="isAvailable" value="true" [(ngModel)]="product.isActive" required>
				<p class="radiobtn">Da</p>
			<input type="radio" name="isAvailable" value="false" [(ngModel)]="product.isActive" required>
				<p class="radiobtn">Ne</p>
			<div id="form3">
				<button class="btn" [disabled]="!f3.valid">Sacuvaj</button>
				<button class="btn btn-clean" (click)="product = {}">Obrisi</button>
			</div>
		</form>
	</div>
</div>