<div class="home-container">
	<div class="cat-container col-md-2">
		<p class="labela">Kategorije</p>
		<div *ngFor="let cat of categories" (mouseenter) ="hovered[cat.title] = true"
			(mouseleave) ="hovered[cat.title] = false">
			<div class="cat-div" *ngIf="cat.active == 'true'">
				<div>{{cat.title}}</div>
				<div *ngIf="hovered[cat.title]" class="under-cat-div">
					<div *ngFor="let sub of cat.subctgs">
						<div *ngIf="sub.active == 'true'" class="under-cat">{{sub?.title}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="img-container col-md-9">
		<div class="img-div" *ngFor="let img of images" (click)="openModal('custom-modal-1', img)">
			<img src="../../src/image/{{img}}" class="image">
			<span class="zoom-img glyphicon glyphicon-search"></span>
		<div>
	</div>
</div>
<jw-modal id="custom-modal-1">
	<div class="col-md-4" id="modalImg">
		<ngx-image-zoom
		    [thumbImage]=myThumbnail
		    [fullImage]=modalImage
		></ngx-image-zoom>
		<!--<img src="../../src/image/{{modalImage}}">-->
	</div>
    <div class="col-md-4 details">
    	<p>Naziv: Test</p>
    	<p>Opis: Test</p>
    	<p>Status: DOSTUPNO</p>
    	<p>Kolicina: <input type="number" name="quantity" min="1" max="5" value="1"></p>
    	<p>Cena: 500,00 RSD</p>
    	<div class="lower-stuff">
    		<span class="glyphicon glyphicon-heart-empty heart-empty" *ngIf="!hearClick" 
    		(click)="hearClick = !hearClick"></span>
    		<span class="glyphicon glyphicon-heart heart" *ngIf="hearClick" 
    		(click)="hearClick = !hearClick"></span>
    		<button class="btn btn-cart">U KORPU</button>
    	</div>
    </div>
    <div class="col-md-2" style="width: 85px;">
    </div>
    <div class="col-md-1" style="padding-left: 60px;">
    	<span class="glyphicon glyphicon-remove" (click)="closeModal('custom-modal-1')"></span>
    </div>
</jw-modal>