<div class="home-container" *ngIf="categories?.length !== 0 && subcategories?.length !== 0">
	<div class="cat-container col-md-2">
		<p class="labela">Kategorije</p>
		<div *ngFor="let cat of categories" >
			<div class="cat-div" *ngIf="cat.value.active == 'true'">
				<div id="catTitle" (click) ="hovered[cat.value.title] = !hovered[cat.value.title];
				showSubCategories(cat.key, cat)">
				{{cat.value.title}}
				</div>
				<div *ngIf="hovered[cat.value.title]" class="under-cat-div">
					<div *ngFor="let sub of cat.subctgs" class="under-cat">
						<div *ngIf="sub.active == 'true'"  (click)="showProducts(sub.key)">
						{{sub?.title}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="img-container col-md-9">
		<div class="img-div" *ngFor="let prod of products" (click)="openModal('custom-modal-1', prod)">
			<img src="{{prod.photo}}" class="image">
			<span class="zoom-img glyphicon glyphicon-search"></span>
		<div>
	</div>
</div>
<jw-modal id="custom-modal-1">
	<div class="col-md-4" id="modalImg">
		<ngx-image-zoom #modalPP
		    [thumbImage]=myThumbnail
		    [fullImage]=modalImage
		></ngx-image-zoom>
		<!--<img src="../../src/image/{{modalImage}}">-->
	</div>
    <div class="col-md-5 details">
    	<p>Naziv: {{showProduct?.title}}</p>
    	<p>Opis: {{showProduct?.description}}</p>
    	<p>Status: {{showProduct?.inStock}}</p>
    	<p>Kolicina: <input type="number" name="quantity" class="form-control quantity-input" 
    		[(ngModel)]="quantityToBuy" min="1"	max="{{maxQuantity}}" 
    		(input)="onQChange($event.target.value)"
    		[ngClass]="{ 'input-has-error': quantityProblem}" required>
    	</p>
    	<p>Cena: {{showProduct?.price}} RSD</p>
    	<div class="lower-stuff" *ngIf="userUid != undefined">
    		<span class="glyphicon glyphicon-heart-empty heart-empty" *ngIf="!hearClick[showProduct?.key]" 
    			(click)="hearClick[showProduct.key] = !hearClick[showProduct.key];
    			likeProduct(showProduct.parentId, showProduct.key)"></span>
    		<span class="glyphicon glyphicon-heart heart" *ngIf="hearClick[showProduct?.key]" 
    			(click)="hearClick[showProduct.key] = !hearClick[showProduct.key];
    			dislikeProduct(showProduct.key)"></span>
    		<button class="btn btn-cart" (click)="toCart(showProduct.parentId, showProduct.key, quantityToBuy)"
    			[disabled]="quantityProblem">U KORPU</button>
    		<button class="btn btn-buy"
    			[disabled]="quantityProblem">KUPI</button>
    	</div>
    </div>
    <div class="col-md-2" style="width: 85px;">
    </div>
    <div class="col-md-1" style="padding-left: 60px;">
    	<span class="glyphicon glyphicon-remove" (click)="closeModal('custom-modal-1')"></span>
    </div>
</jw-modal>