<ng2-slim-loading-bar color="#914853" height="5px" id="slimLoad"></ng2-slim-loading-bar>
<div class="header" *ngIf="adminId != undefined && !isLoginPage">
	<div class="hdr-items">
		<a [routerLink]="['/admin/dashboard']" [ngClass]="status.one ? 'selected-tab': ''" (click)="selectTab('one')">Konzola</a>
		<a [routerLink]="['/admin/orders']" [ngClass]="status.two ? 'selected-tab': ''" (click)="selectTab('two')">Narudzbine</a>
	</div>
	<div id="logOut" (click)="logOut()">
		<a href="">Izloguj se</a>
	</div>
</div>
<section id="section">
	<router-outlet></router-outlet>
	<div *ngIf="adminId == undefined && isLoginPage">
		<div class="col-md-4"></div>
		<div class="col-md-6" id="logDiv">
			<form name="form" (ngSubmit)="f.form.valid && logInWithEmail()" #f="ngForm" novalidate>
				<input type="email" class="form-control" name="email" [(ngModel)]="login.email"
				 #email="ngModel" placeholder="Email" 
				 [ngClass]="{ 'input-has-error': !email.valid && !email.pristine }" required>

				<input type="password" class="form-control" name="password" [(ngModel)]="login.password"
				 #password="ngModel" placeholder="Lozinka" 
				 [ngClass]="{ 'input-has-error': !password.valid && !password.pristine }" required>

				<div class="form-group error-box" *ngIf= "error != undefined || error != null">
					{{error}} 
				</div>
				<button class="btn btn-login" [disabled]="!f.valid">Prijavi se</button>
			</form>
		</div>
	</div>
</section>
<footer id="footer"> 
   <div id="footerWrap">2018. Vintage Tiara</div>
  </footer>
