#registerDiv{
	margin-top: 50px;
	margin-left: 540px;
}

.form-control{
	width: 250px;
    margin-bottom: 20px;
}

.btn-register {
	background: #C5B358;
	color: white;
  	position: relative;
	bottom: 10px;
	font-size: 16px;
  	width: 250px;
  	margin-top: 50px;

	-moz-box-shadow: 1px 1px 2px #EEE8AA;
	-webkit-box-shadow: 1px 1px 2px #EEE8AA;
	box-shadow: 1px 1px 2px #EEE8AA;
}

.btn-register:hover{
	background: #FAFAD2;
	color: #996515;
}